@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p  class="alert alert-success">
        Por favor verifique o seu email para trocar a sua password.
    </p>
  
</div>

