@{
    ViewBag.Title = "Quem Somos";
    ViewBag.Title2 = "Utilizadores de Teste";
   
}
<div class="row" style="background-color:darkcyan">
    <div class="col-lg-12">
        <h1 class="page-header" style="color:white">@ViewBag.Title <small></small></h1>
    </div>

    <div class="col-md-6" style="text-align:justify">
        <p style="color:white">Somos uma empresa tecnologica virada para satisfazer os seus anseios e desafogar as suas finanças.<br /><br />
        O nosso proposito é permitir aos clientes uma maior gestão das suas finanças.<br /><br />
        Este sistema permite um maior controlo e tomada de decisões financeiras pessoais e familiares,
         controlando o que se ‘ganha’ e o que se ‘gasta’ registando os respetivos rendimentos e despesas correntes.</p>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="../Content/imag/conta3.jpg" alt="" style="width:500px; height:300px;">
    </div>
</div>
<div class="row" style="background-color:goldenrod">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title2 <small></small></h2>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail" style="min-height:410px"> 
            <img class="img-responsive"<img src="../Content/imag/logotipo.png" alt="">
            <div class="caption">
                <h3>
                   Membro Famíliar<br>
                    <small>Utilizador Registado</small>
                </h3>
                <p>Utilizador</p>
                <p>User: ju@ipt.pt</p>
                <p>Password: 123_Asb</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail" style="min-height:410px">
            <img class="img-responsive" src="../Content/imag/ju.JPG" alt="" >
            <div class="caption">
                <h3>
                   Julay Vera Cruz<br />
                    <small>nº.16289</small>
                </h3>
                <p>Administrador</p>
                <p>User: admin@email.pt</p>
                <p>Password: 123_Asd</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center" >
        <div class="thumbnail" style="min-height:410px">
            <img class="img-responsive" src="../Content/imag/logotipo.png" alt="">
            <div class="caption">
                <h3>
                    José Casimiro Pereira<br />
                    <small>TI II - LEI</small>
                </h3>
                <p>Docente</p>
                <p>User:jose_c@ipt.pt</p>
                <p>Password: 123_Ti2</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title3</h2>
    </div>
</div>