@{
    ViewBag.Title = "Contactos";
}
<!-- Page Heading/Breadcrumbs -->
    <div class="container">
        <h1>Contacta-nos</h1>
       <p>Se precisar da nossa ajuda é so entrar em conctato através  <a href="//facebook.com/julay.mendes">Facebook</a> explica-mos tudo que precisas saber.</p>
    </div><br />

    <form>
        <div class="form-group">
            <label for="usr">Nome:</label>
            <input type="text" class="form-control" id="usr" placeholder="Nome">
        </div>
        <div class="form-group">
            <label for="email">Endereço de Email
            <span style="color:sandybrown" > * </span></label>
            <input type="email" class="form-control" id="email" placeholder="Entrar com Email">
        </div>
        <div class="form-group">
            <label for="comment">Comentarios<span style="color:sandybrown" > * </span></label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <div class="form-group">
            <label for="comment">Verificação<span style="color:sandybrown"> * </span></label><br />
            <span class="field-prefix">
                <span class="mollom-captcha-container">
                    <a href="javascript:void(0);" class="mollom-refresh-captcha mollom-refresh-image"><img typeof="foaf:Image" src="http://cssmenumaker.com/sites/all/modules/mollom/images/refresh.png" alt="Refresh"></a>
                </span>
                    <span class="mollom-captcha-content mollom-image-captcha"><img typeof="foaf:Image" src="http://rest-production.mollom.com:80/v1/captcha/170624e5c432cad99b.png" alt="Type the characters you see in this picture."></span>
                    <span class="mollom-image-captcha-instructions"><br />
                        Digite os caracteres que voçê vê na imagem, se não conseguires lê-los envie o formulário e uma nova imagem séra gerada.<br />Não diferencia maisculas de minusculas&nbsp;&nbsp;<a href="#" class="mollom-switch-captcha mollom-audio-captcha">
                            Muda para vérificação de audio
                        </a>
                    </span>
                </span><br />
            <input title="Digite os caracteres da verificação acima" type="text" id="edit-mollom-captcha" name="mollom[captcha]" value="" size="10" maxlength="128" class="form-text required">
        </div>
        <button type="submit" class="btn btn-default">Enviar</button>
    </form>
